.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: var(--highlight);

    &:hover {
      color: var(--highlightHover);
      text-decoration: underline;
    }
  }

  .measure {
    width: fit-content;
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }

  >.about {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 24px;
    margin: 0;
  }

  >.kofiButton {
    position: absolute;
    right: 12px;
    top: 12px;
  }

  >.center {
    text-align: center;

    >.head {

      >h1 {
        font-size: 64px;
        margin: 0;
      }

      >p {
        margin: 0 0 12px 0;

        b {
          font-weight: 600;
        }
      }

      >.examples {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 0 12px 0;
      }
    }

    >.content {
      >p {
        margin: 0;
      }

      >.result {
        padding: 0 40px;

        >p:first-of-type {
          margin-top: 8px;
        }

        >p.data {
          span {
            font-size: 14px;
          }

          br {
            @media (min-width: 576px) {
              display: none;
            }
          }
        }

        >button {
          padding: 12px 24px;
          width: 183px;
        }

        >.reset {
          margin: 12px auto 0 auto;
          cursor: pointer;
          width: fit-content;
          text-decoration: underline;

          &:hover {
            color: var(--highlight);
          }
        }
      }

      >form {
        display: flex;
        flex-direction: column;

        >input {
          font-size: 16px;
          background: #fafafa;
          border: 2px solid #bbb;
          border-radius: 4px;
          padding: 8px;
        }

        >button {
          padding: 12px 24px;
          margin: 12px 0 0 0;
        }
      }
    }
  }
}
